DB_HOST=localhost
DB_USER=root
DB_PASSWORD=hellospiral123
DB_NAME=inventory_tracker

# --- Scanner 1: The INSIDE Scanner ---
READER_IN_MODE=WIFI
READER_IN_IP=10.216.31.160
READER_IN_PORT=49152
READER_IN_ROOM=IT Storage

# --- Scanner 2: The OUTSIDE Scanner ---
READER_OUT_MODE=USB
READER_OUT_IP=10.216.31.161
READER_OUT_PORT=49152
READER_OUT_ROOM=Hallway